dist: xenial   # required for Python >= 3.7
language: python

python:
    #- "3.2"
    #- "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"

install:
  - pip install -U setuptools;
    python setup.py install;
    pip install pytest-cov;

script:
  - pytest

notifications:
  email:
    - shuntingyard@gmail.com
